<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Administration Sign Up</title>
<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../resources/css/AdminSignup.css">
<script type="text/javascript" src="../resources/js/AdminSignup.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="ProjWebsite.html">
<img class="rounded-circle" src="../resources/img/cu_boulder_logo.jpg" alt="" width="30" height="30">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link" href="ProjWebsite.html">Weather</a>
</li>
<li class="nav-item">
<a class="nav-link" href="AdminLogin.html">Administrator Login</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="AdminSignup.html">Administrator Register</a>
</li>
</ul>
</div>
</nav>
<div class="container text-center">
<h1>Registration Page</h1>
<h1><small class="text-muted">Administration Only</small></h1>
</div>
<hr>
<div class="dialog login">
<div class="container">
<div class="form-group">
<input type="text" class="form-control" name="firstName" placeholder="First Name"
required="required">
</div>
<div class="form-group">
<input type="text" class="form-control" name="lastName" placeholder="Last Name"
required="required">
</div>
<div class="form-group">
<input id="psw" type="password" onkeyup="checkPassword()" class="form-control" name="password" placeholder="Password"
required="required">
</div>
<div class="form-group">
<button id="my_submit_button" class="btn btn-primary btn-block login-btn"
onclick=location.href="AdminLogin.html">Register</button>
</div>
</div>
</div>
</div>
