<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<link rel='icon' href='../../resources/img/Flatirons.jpg' type='image/x-icon'/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link href="../../resources/css/my_style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<a class="navbar-brand" href="weather">
<img class="rounded-circle" src="../../resources/img/Flatirons.jpg" alt="" width="30" height="30">
</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
<ul class="navbar-nav mr-auto">
<li class="nav-item active">
<a class="nav-link" href="weather">Weather</a>
</li>
<li class="nav-item">
<a class="nav-link" href="/">Administrator Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="register">Administrator Signup</a>
</li>
</ul>
<div class="form-inline my-2 my-lg-0">
<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
</div>
</div>
</nav>
    <br>
    <br>
    <center>
    <h1><%= my_title %></h1>
    <center>
    <br>
    <br>
    <br>
    <form name="form1" method="POST" action="/member/add">
    <div class="dialog login">
        <div class="container">
            <div class="form-group">
                <input type="text" class="form-control" name="fname" placeholder="First Name"
                required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="lname" placeholder="Last Name"
                required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username"
                required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password"
                required="required">
            </div>
            <div class="form-group">
                <input type = 'submit' value="Register">
            </div>
          </div>
        </div>
    </form>   
    <% if(userValue!=null){ %>    
        <div> Data Entered as <%= userValue.first %>  <%= userValue.last %> </div>
    <%}%> 
</body>